button {
  background-color: gray;
  border: 5px solid;
  color: white;
  display: inline-block;
  outline: none;
  font-size: 24px;
}

#bottomNav {
  position: fixed;
  bottom: 0;
  color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}