/* * * * * * * * * *
 *                 *
 *     General     *
 *                 *
 * * * * * * * * * */

body {
  font-family: lucida grande;
  margin-top: 130px;
  color: #404040;
  background-color: #f2f2f2;
  /*-apple-system, BlinkMacSystemFont, sans-serif;*/
}

label {
  padding: 10px;
}

/* * * * * * * * * *
 *                 *
 *     NavBar      *
 *                 *
 * * * * * * * * * */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 2px solid #e6e6e6;
}

.nav > .title {
  font-size: 40px;
  top: 30px;
  font-family: avenir;
  letter-spacing: 5px;
  margin-left: 30%;
}

.nav > a {
  position: relative;
  top: 30px;
  color: #404040;
  margin-left: 40px;
  text-decoration: none;
  letter-spacing: 1px;
}

/* * * * * * * * * *
 *                 *
 *   Event List    *
 *                 *
 * * * * * * * * * */

.featureBody {
  margin-left: 23%;
  width: 50%;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.listEntry {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}

/* * * * * * * * * *
 *                 *
 *    Event Nav    *
 *                 *
 * * * * * * * * * */

.eventHeader {
  position: relative;
  top: 20px;
  margin-left: 25%;
}

#eventNav {
  border-bottom: 2px solid #e6e6e6;
  position: fixed;
  width: 100%;
  left: 0;
  top: 82px;
  background-color: white;
  padding: 10px;
}

#eventNav > #firstBtn {
  margin-left: 29%;
}

#eventNav > button {
  color: #404040;
  outline: none;
  font-size: 15px;
  margin-left: 15px;
  outline: none;
  background: none;
  border: none;
}

#createEvent {
  margin-left: 31%;
  width: 30%;
}

/* * * * * * * * * *
 *                 *
 *   WhatToBring   *
 *                 *
 * * * * * * * * * */

.bringForm {
  margin-left: 25%;
  position: relative;
  top: 20px;
}

.bringForm > input {
  margin-left: 30px;
}

table {
  position: relative;
  top: 20px;
  margin-top: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}