/* * * * * * * * * *
 *                 *
 *     General     *
 *                 *
 * * * * * * * * * */

body {
  font-family: lucida grande;
  color: #404040;
  background-color: #f2f2f2;

}

label {
  padding: 10px;
}


.navbar {
  position: relative;
  min-height: 80px;
  margin-bottom: 20px;
  border: 2px solid #e6e6e6;
  background: white;
}

.navbar-nav.nav {
  margin-bottom: -30px;
}

.navbar .container {
  padding-top: 35px;
  max-width: 575px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-default .navbar-brand {
  font-size: 3em;
  letter-spacing: 3px;
  padding-bottom: 40px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
}

/* * * * * * * * * *
 *                 *
 *   Event List    *
 *                 *
 * * * * * * * * * */

.featureBody {
  margin-left: 23%;
  width: 50%;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.listEntry {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}

.deleteBtn {
  float: right;
  margin-bottom: 5px;
}


.eventHeader {
  position: relative;
  top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

#eventNav {
  border-bottom: 2px solid #e6e6e6;
  position: fixed;
  width: 100%;
  left: 0;
  top: 60px;
  background-color: white;
  padding: 10px;
}

/*#eventNav > #firstBtn {
  margin-left: 29%;
}

#eventNav > button {
  color: #404040;
  outline: none;
  font-size: 15px;
  margin-left: 15px;
  outline: none;
  background: none;
  border: none;
}*/

#createEvent {
  margin-left: 31%;
  width: 30%;
}


#bulletin {
  width: 700px;
  margin: 0 auto;
}

/*.bringForm {
  margin-left: 25%;
  position: relative;
  top: 20px;
}*/

.featureBtn {
  margin: 3px;
}

/*.bringForm > input {
  margin-left: 30px;
}*/

.remindForm {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
#whatToBring {
  width: 65%;
  margin: 0 auto;
}
/*table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
*/
.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 80%;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width:107%;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}